// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $sectionSubheadingGrey;

  // height: 100vh;
  // min-height: 25rem;
  // width: 100%;
  // overflow: hidden;
  // margin: 0;
  // background-image: url('../img/header-bg.jpg');
  // background-image: url('../img/portfolio/Drone_Bottom.jpg');
  // background-repeat: no-repeat;
  // background-attachment: scroll;
  // background-position: center center;
  // background-size: cover;
  .video-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  video {
    z-index: 0;
  }

  .intro-text {
    position: relative;
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
.logo-container {
  width: 75px;
  height: 75px;
  margin: auto;
  img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 250px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
@media (min-width: 1024px) {
  video.fill-width {
    width: 100%;
  }
}
@media (max-width: 768px) {
  header.masthead {
    // background-image: url('../img/camera-drone-flight.jpg');
    background-image: url('../img/aircraft-airplane-art.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    margin-top: 101px; // Sets the top margin to the size of the navbar so we see the whole image
    .intro-text {
      padding-bottom: 3em;
    }
  }
  video.fill-width {
    display: none;
  }
}
